In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [6]:
url="https://raw.githubusercontent.com/dsrscientist/dataset3/main/glass.csv"
data=pd.read_csv(url)

In [7]:
data

       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
0      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00    0.00    1
1      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00    0.00    1
2      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00    0.00    1
3      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00    0.00    1
4      6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00    0.26    1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...     ...  ...
208  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06    0.00    7
209  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59    0.00    7
210  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64    0.00    7
211  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57    0.00    7
212  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67    0.00    7

[213 rows x 11 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   1        213 non-null    int64
 1   1.52101  213 non-null    float64
 2   13.64    213 non-null    float64
 3   4.49     213 non-null    float64
 4   1.10     213 non-null    float64
 5   71.78    213 non-null    float64
 6   0.06     213 non-null    float64
 7   8.75     213 non-null    float64
 8   0.00     213 non-null    float64
 9   0.00.1   213 non-null    float64
 10  1.1      213 non-null    int64
dtypes: float64(9), int64(2)
memory usage: 18.4 KB

In [12]:
data.columns

Index(['1', '1.52101', '13.64', '4.49', '1.10', '71.78', '0.06', '8.75',
       '0.00', '0.00.1', '1.1'],
      dtype='object')

In [13]:
# Check for missing values
print(data.isnull().sum())

1          0
1.52101    0
13.64      0
4.49       0
1.10       0
71.78      0
0.06       0
8.75       0
0.00       0
0.00.1     0
1.1        0
dtype: int64

In [28]:
# Split the data into features and target
X = data.drop("1.1", axis=1)
y = data["1.1"]

In [16]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
# Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [18]:
# Train a Random Forest Classifier
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train_scaled, y_train)

RandomForestClassifier(random_state=42)

In [27]:
# Evaluate the model
y_pred = clf.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9767441860465116

In [20]:
classification_rep = classification_report(y_test, y_pred)
print("Classification Report:\n", classification_rep)

Classification Report:
               precision    recall  f1-score   support

           1       1.00      1.00      1.00        10
           2       1.00      0.93      0.97        15
           3       0.75      1.00      0.86         3
           5       1.00      1.00      1.00         3
           6       1.00      1.00      1.00         3
           7       1.00      1.00      1.00         9

    accuracy                           0.98        43
   macro avg       0.96      0.99      0.97        43
weighted avg       0.98      0.98      0.98        43

In [26]:
# Generate predicted values for the test set
y_pred = clf.predict(X_test_scaled)

In [22]:
y_pred

array([1, 7, 1, 7, 2, 2, 1, 2, 2, 3, 6, 5, 2, 2, 6, 5, 7, 1, 1, 7, 2, 7,
       7, 7, 3, 2, 1, 1, 6, 1, 1, 2, 3, 2, 2, 7, 5, 3, 2, 2, 2, 7, 1],
      dtype=int64)

In [25]:
#Create a new DataFrame with original data and predicted values
new_table = X_test.copy()  # Create a copy of the test data
new_table["Actual Type"] = y_test.values  # Add actual types to the new table
new_table["Predicted Type"] = y_pred  # Add predicted types to the new table

In [24]:
# Display the new table
print(new_table)

       1  1.52101  13.64  4.49  1.10  71.78  0.06   8.75  0.00  0.00.1  \
9     11  1.51571  12.72  3.46  1.56  73.20  0.67   8.09  0.00    0.24
197  199  1.51531  14.38  0.00  2.66  73.10  0.04   9.08  0.64    0.00
66    68  1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.00    0.17
191  193  1.51623  14.20  0.00  2.79  73.46  0.04   9.04  0.40    0.09
117  119  1.51673  13.30  3.64  1.53  72.53  0.65   8.03  0.00    0.29
111  113  1.52777  12.64  0.00  0.67  72.02  0.06  14.40  0.00    0.00
15    17  1.51784  12.68  3.67  1.16  73.11  0.61   8.70  0.00    0.00
86    88  1.51645  13.40  3.49  1.52  72.65  0.67   8.08  0.00    0.10
75    77  1.51645  13.44  3.61  1.54  72.39  0.66   8.03  0.00    0.00
144  146  1.51839  12.85  3.67  1.24  72.57  0.62   8.68  0.00    0.35
182  184  1.51969  14.56  0.00  0.56  73.48  0.00  11.22  0.00    0.00
170  172  1.51316  13.02  0.00  3.04  70.48  6.21   6.96  0.00    0.00
141  143  1.51662  12.85  3.51  1.44  73.01  0.68   8.23  0.06    0.25
73    75  1.51596  13.02  3.56  1.54  73.11  0.72   7.90  0.00    0.00
178  180  1.51852  14.09  2.19  1.66  72.67  0.00   9.32  0.00    0.00
167  169  1.51666  12.86  0.00  1.83  73.88  0.97  10.17  0.00    0.00
190  192  1.51602  14.85  0.00  2.38  73.28  0.00   8.76  0.64    0.09
18    20  1.51735  13.02  3.54  1.69  72.73  0.54   8.44  0.00    0.07
45    47  1.51869  13.19  3.37  1.18  72.72  0.57   8.83  0.00    0.16
184  186  1.51131  13.69  3.20  1.81  72.81  1.76   5.43  1.19    0.00
98   100  1.51811  12.96  2.96  1.43  72.92  0.60   8.79  0.14    0.00
208  210  1.51623  14.14  0.00  2.88  72.61  0.08   9.18  1.06    0.00
210  212  1.52065  14.36  0.00  2.02  73.42  0.00   8.44  1.64    0.00
195  197  1.51556  13.87  0.00  2.54  73.23  0.14   9.41  0.81    0.01
148  150  1.51643  12.16  3.52  1.35  72.89  0.57   8.53  0.00    0.00
104  106  1.52475  11.45  0.00  1.88  72.19  0.81  13.24  0.00    0.34
30    32  1.51747  12.84  3.50  1.14  73.27  0.56   8.55  0.00    0.00
25    27  1.51793  13.21  3.48  1.41  72.64  0.59   8.43  0.00    0.00
175  177  1.51905  14.00  2.39  1.56  72.37  0.00   9.57  0.00    0.00
16    18  1.52196  14.36  3.85  0.89  71.36  0.15   9.15  0.00    0.00
55    57  1.51215  12.99  3.47  1.12  72.98  0.62   8.35  0.00    0.31
138  140  1.51674  12.87  3.56  1.64  73.14  0.65   7.99  0.00    0.00
158  160  1.51796  13.50  3.36  1.63  71.94  0.57   8.81  0.00    0.09
93    95  1.51629  12.71  3.33  1.49  73.28  0.67   8.24  0.00    0.00
69    71  1.51574  14.86  3.67  1.74  71.87  0.16   7.36  0.00    0.12
202  204  1.51658  14.80  0.00  1.99  73.11  0.00   8.28  1.71    0.00
171  173  1.51321  13.00  0.00  3.02  70.70  6.21   6.93  0.00    0.00
152  154  1.51610  13.42  3.40  1.22  72.69  0.59   8.32  0.00    0.00
97    99  1.51689  12.67  2.88  1.71  73.21  0.73   8.54  0.00    0.00
84    86  1.51625  13.36  3.58  1.49  72.72  0.45   8.21  0.00    0.00
101  103  1.51820  12.62  2.76  0.83  73.81  0.35   9.42  0.00    0.20
200  202  1.51653  11.95  0.00  1.19  75.18  2.70   8.93  0.00    0.00
60    62  1.51977  13.81  3.58  1.32  71.72  0.12   8.67  0.69    0.00

     Actual Type  Predicted Type
9              1               1
197            7               7
66             1               1
191            7               7
117            2               2
111            2               2
15             1               1
86             2               2
75             2               2
144            2               3
182            6               6
170            5               5
141            2               2
73             2               2
178            6               6
167            5               5
190            7               7
18             1               1
45             1               1
184            7               7
98             2               2
208            7               7
210            7               7
195            7               7
148            3               3
104            2               2
30             1               1
25             1               1
175            6               6
16             1               1
55             1               1
138            2               2
158            3               3
93             2               2
69             2               2
202            7               7
171            5               5
152            3               3
97             2               2
84             2               2
101            2               2
200            7               7
60             1               1